*
{
    margin:0px;
    padding:0px;
}
body
{
    font-family: sans-serif;
}
a
{
    text-decoration: none;
}
#header-menu
{
    background-color:rgb(255, 255, 255) ;
padding-bottom:20px;
overflow: hidden;
}
.header-menu-div
{
float: left;
width:50%;
}
.header-nav
{
list-style-type:none;
padding:10px 0px 0px 60px;
}
.header-nav li
{
    display: inline-block;
}
.header-nav a
{
    color:grey;
    padding:5px;
}
.header-nav-right
{
    text-align: right;
    margin-right:40px;
}
.header-nav-right li
{
    padding:0px 10px 0px 0px;
}
.header-nav-right a
{
    padding:0px;
}

/* main menu  */
.main-nav
{
text-align: center;
}
.main-nav li
{
    display:inline-block;
    padding-left:30px;
    padding-right:30px;
    margin:0px;
}
.main-nav a
{
    color:grey;
    padding:3px;
}
/* hero  */
#hero
{

}
#hero img
{
    width: 100%;
    height:450px;
}
#features
{
    padding-top:15px;
    padding-bottom:100px;
    background-color: silver;
}
#features h3
{
    text-align: center;
    padding-bottom: 15px;
}
.our-product-container
{
    background-color: rgb(25, 25, 160);
    overflow: hidden;
padding:0px 5% 0px 5%;
}
.our-product-div
{
    float:left;
    width:33.33%;
    
}
.our-product-content
{
margin:10px;
border: 1px solid black;
color: white;
display: flex;
padding:15px;
}
.icon{
    flex:2;

}
.features
{
    flex:8;
}
/* who we are  */
.who-container
{
 
    padding-top:100px;
}
.who-div
{
   display:flex;
}
.who-content
{
margin: 10px;
flex:1;
padding-right:40px;
padding-left:40px;
}
.who-content h2
{
    padding-bottom:10px;
}
.who-img img
{
    width:400px;
    height:130px;
    flex:1;
    padding-right:40px;
    padding-top: 10px;
}
#categories
{
}
.categories-container
{
padding:0px 5% 0px 5%;
}
.categories-title
{
    padding-top:30px;
    display: flex;
}
.categories-title h3
{
    padding-left:10px;
    padding-bottom: 5px;
}
.see-more
{
    flex:1;
    text-align: right;
}
.categories-div
{
    float: left;
    width:25%;
}
.categories-content
{
    border: 1px solid silver;
    margin: 10px;
    text-align: center;
    border-radius:6px;
}
.categories-content img
{
  width:280px;
}
/* footer  */
#footer
{
background-color:rgb(24, 61, 184);
 margin-top: 380px;
 overflow: hidden;
 padding:20px 0px 20px 0px;
}
.footer-container
{
    padding:0px 5% 0px 5%;
}
.footer-div
{
float: left;
width: 25%;
}
.footer-content
{
    color: white;
    margin: 20px;
}
.icon-footer
{
    list-style-type:none;
    padding-left:20px;
}
.icon-footer li
{
    display: inline-block;
   padding: 3px;
}
.footer-content h2
{
    padding-bottom: 5px;
}
.about
{
    text-align: justify;
}
.text-white p
{
padding-bottom:20px;
}
.footer-link
{
    list-style-type:none;
} 
.footer-link li
{
    padding-bottom:13px;
}
.footer-link a
{
color: white;
}
/* footer cpy right */
#footer-copyright
{
    background: rgb(20, 3, 85);
    overflow: hidden;
    padding-top: 10px;
    padding-bottom:10px;
}
.copyright-container
{

}
.copyright-div
{
width:50%;
float:left;
}
.copyright-content
{
text-align: center;
}
.text-white
{
    color: white;
}
.text-yellow
{
    color: yellow;
}